.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-two {
    gap: 28px;
    display: flex;
    align-items: center;
}
.flex-item {
    gap: 28px;
    display: flex;
    align-items: center;
}